.footer {
  background-color: var(--primary-background-color);
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
    align-items: baseline;
  }
}
