.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  .page-header-nav & {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &_light-bg-color {
    color: var(--logo-studio-header-color);
  }

  &_dark-bg-color {
    color: var(--footer-studio-footer-color);
  }
}
