.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.page-header-nav .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-studio-logo {
  color: var(--logo-studio-header-color);
}
.footer-studio-logo {
  color: var(--footer-studio-footer-color);
}
