.portfolio-elements {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  & .element-title,
  & .element-text {
    margin: 0px;
  }

  & .element-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }

  & .element-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
  }

  a {
    text-decoration: none;
  }
}

.element-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-link {
  display: block;
  transform: box-shadow 250ms var(--standart-animation);
  box-shadow: transparent;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    & .product-overlay,
    & .product-overlay {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;
  margin: 0;
  text-decoration: none;
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--standart-animation), opacity 250ms var(--standart-animation);
}
