.site-nav {
  display: flex;
  margin-left: 93px;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms var(--standart-animation);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__link.current {
    color: var(--accent-color);

    &::after {
      content: '';
      display: block;

      position: absolute;
      left: 0;
      bottom: 0;

      height: 4px;
      width: 100%;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}
